/* Twitter Bootstrap Overrides */
/* BODY -------------------*/
body{
    padding-bottom: 40px;
    padding-top: 60px;
}

/* Navbar */
.navbar-inverse{
	background-color: #262526;
	border:none;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
	background-color: #4d4d4d;
}
.navbar-collapse{
	border:none;
	box-shadow: none;
	background-color: #5b5b5b;
}
.navbar-nav{
	margin-top: 0
}
.navbar .logo{
	width: 104px;
}
.navbar-inverse .navbar-brand, 
.navbar-inverse .navbar-nav > li > a{
  color: #e4e4e4;
}
/* CONTROLS -----------------*/
.btn:focus, .btn:active:focus, .btn.active:focus{
	outline: none;
}
.form-control{ 
	font-size: 18px;
	border-radius: 0;
	border-color: #5b5b5b;
	background-color: #f2f2f2;
}
.form-control:focus{
	border-color: #52a65e;
	box-shadow: none;
	-webkit-box-shadow:none;
}

label{ font-weight: 400;}
.set .badge{
	background-color: #e14d4d;
	font-size: 14px;
}

/* RESPONSIVE CSS -------- */
@media (min-width: 768px) {    
    /* CONTAINER */
	.container{ max-width: 768px !important;}
	.navbar-collapse{
		background-color: #262526;
	}
}