@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
/* colors */
.white, 
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:active{ 
	color: #ffffff;
}

.light-grey-bg{ background-color: #f2f2f2;}
.mid-grey-bg{ background-color: #7e7e7e;}
.dark-grey, .dark-grey a, .page-title, #me .detail{ color: #5b5b5b;}
.black{ color: #262526;}
.red{ color: #e14d4d;} 
.green-bg{ background-color: #52a65e;}
.green{color: #52a65e;}
.lime-green{ color: #b5d359;}

/* fonts */
.open-sans, body{ font-family: 'Open Sans', sans-serif; }
.open-sans-condensed{ font-family: 'Open Sans Condensed', sans-serif; }
body{ font-size:18px;}
.navbar{ font-size:15px;}
.page-title{ font-size: 28px;}
.font-14{font-size: 14px;}
.footer-title{ font-size: 18px;}
.caps{ text-transform: uppercase;}
.text-bold{ font-weight: bold;}

/* links */
a, a:hover{ text-decoration: none}

/* navbar */
.mnu-ico{
	height: 20px;
	font-size: 20px;
	vertical-align: top;
	margin-right: 10px;
}

/* Login */
.login-lock{
	height: 22px;
	vertical-align: baseline;
}
.size-22{
	font-size: 22px;
}

/* app */
.crumb{
	font-size: 20px;
	font-weight: 400;
}
.item, .field{
	background: #f2f2f2;
	padding: 10px;
	margin: 10px 0;
	cursor: pointer;
}
.item{
	background-image: url(../images/icon-arrow-right-green.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
}
.set.item{
	background-image: none;
	background-color: #e4e4e4;
	padding: 3px;
	border-radius: 4px;
}
.set .item-name{
	padding: 10px;
	background-color: #f2f2f2;
}
.set .badge{
}
.field{ cursor: default;}
.field.email{
	background:none;
	font-style: italic;
	padding-left: 0;
	padding-top: 0;
}
.option{
	background: #f2f2f2;
	margin: 10px 0;
	cursor: pointer;
	padding: 10px 15px;
}
.set.item{ cursor: default;}
.set.item .action{
	display: inline-block;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	padding:5px 25px;
}
.item .action{ cursor: pointer;}
.list .play{ color: #52a65e;}
.list .more{ color: #5b5b5b;}
.screen{
	position: absolute;
	top: 50px;
	width: 92%;
	margin-bottom: 30px;
}
.btn-back, .btn-next{
	margin-top: 10px;
	text-transform: uppercase;
}
.btn-back{
	background-image: url(../images/icon-arrow-back-green.png);
	background-size: auto 36px;
	background-repeat: no-repeat;
	background-position: -3px -3px;
	padding: 6px 24px 6px 68px !important;
}
.btn-back.active, .btn-back:active{
	background-image: url(../images/icon-arrow-back-green.png);
}
.btn-next{
	background-image: url(../images/icon-check-green.png);
	background-size: auto 36px;
	background-repeat: no-repeat;
	background-position: 102% -3px;
	background-color: #7e7e7e !important;
	padding: 6px 68px 6px 24px !important;
}
.btn-next.active, .btn-next:active{
	background-image: url(../images/icon-check-green.png);
}
.btn-account{
	background-image: url(../images/icon-settings.png);
	background-size: auto 36px;
	background-repeat: no-repeat;
	background-position: -3px -3px;
	background-color: #e14d4d !important;
	padding: 6px 24px 6px 68px !important;
}
.btn-account.active, .btn-account:active{
	background-image: url(../images/icon-settings.png);
}
.btn-cancel{
	background-image: url(../images/icon-cross-red.png);
	background-size: auto 36px;
	background-repeat: no-repeat;
	background-position: -3px -3px;
	background-color: #e14d4d !important;
	padding: 6px 24px 6px 68px !important;
}
.btn-cancel.active, .btn-cancel:active{
	background-image: url(../images/icon-cross-red.png);
}
.btn-update-account{
	background-image: url(../images/icon-check-green.png);
	background-size: auto 36px;
	background-repeat: no-repeat;
	background-position: -3px -3px;
	padding: 6px 24px 6px 68px !important;
	margin-bottom: 10px;
}
.btn-update-account.active, .btn-update-account:active{
	background-image: url(../images/icon-check-green.png);
}
.progress-wrapper{
	position: fixed;
	width: 100%;
	max-width: 730px;
	background-color: white;
}
.progress{
	margin: 2px 0;
	height: 30px;
}
.progress-bar{ padding-top: 5px;}
.complete{ font-size: 20px;}
.option.right{
	background-image: url(../images/icon-check-green.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 100% 0;
}
.option.wrong{
	background-image: url(../images/icon-cross-red.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 100% 0;
}
.option.selected{
	background-color: #52a65e;
	color: #fff;	
}
.option .choice{
	display: inline-block;
	border-right: 3px solid #ffffff;
	padding: 0px 15px 0 0;
	margin-right: 10px;
}
.btn-app{ text-transform: uppercase;}
.btn-main{ 
	border-radius: 0;
	background-color: #52a65e;
	color: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
}
.btn-main:hover, .btn-main:active, .btn:focus{
	color: #ffffff;
}
#login .alert, #signup .alert,
#account .alert{ margin-top: 10px;}
#cancel-alert{ 
	margin-top: 70px !important;
	margin-bottom: 0;
}
#login .meta, #signup .meta{ 
	margin-top: 75px;
	padding: 8px;
}
#login .meta a, #signup .meta a{
	display: block;
	margin:8px 0;
}
.graphic img{ margin:0 auto;}
.embed iframe{ width: 100%;}
.loading{
	background: transparent url('../images/loading.gif') no-repeat 0 0;
	height: 20px;
	background-position: center;
	background-size: 20px 20px;
}
hr.spaced{ 
	margin:25px;
	visibility: hidden;
}
#entity .page-title{ margin-top: 50px;}
#entity .comment{
	margin-top: 20px;
	font-size: 16px;
}
#entity .scoresheet{
	text-align: center;
	font-size: 14px;
}
#entity .entity{
	margin-bottom: 20px;
	border-bottom: 1px dotted #cccccc;
	padding-bottom: 20px;
}
#me .meta{
	padding: 20px 10px;
	margin-top: 25px	
}
#me .field{
	margin-left: 15px;
}
#me .field.email{
	margin-left: 0 !important;
}
#me .info-ico{
	position: absolute;
	margin-top: -12px;
	margin-left: -25px;
}
#me .detail{
	margin-left: 40px;
	font-weight: 700;
}

#frm-cancel-account{
	padding: 10px 20px 70px 20px;
	margin-top: 100px;
}
/* Math css */
.fraction{
	display: inline-block;
	vertical-align: middle;
	margin: 0 0.2em 0.4ex;
	text-align: center;
}
.fraction > span{
	display: block;
	padding-top: 0.15em;
}
.fraction span.fdn{ border-top: thin solid black;}
.fraction span.bar{display: none;}

/* RESPONSIVE CSS -------- */
@media (min-width: 768px) {   
	.screen{ width: 730px;}
}
